In [26]:
import pandas as pd
import os

dataset_name = 'en'
seed=1
result_dir = f'results/{dataset_name}/seed{seed}'
final_ans = []
task_topkoccupation = pd.read_parquet(f'data/{dataset_name}/task_topkoccupation.parquet')
task_topkoccupation.columns = ['origin_occupation', 'job description', 'occupation_candaite', 'sim']
task_topkoccupation = task_topkoccupation[['origin_occupation', 'job description', 'sim']]
task_topkoccupation.head()

,origin_occupation,job description,sim
0,Real Estate,Agent Assistance- Receive & Organize Marketing...,0.723935
1,Wellness and Fitness Services,"At Aspen Therapy and Wellness , we are committ...",0.701837
2,Wellness and Fitness Services,We are actively looking to hire a therapist in...,0.725470
3,Law Practice,Senior Associate Attorney - Elder Law / Trusts...,0.741709
4,Hospitals and Health Care,Children's is committed to diversity and inclu...,0.707031

In [27]:
for i in range(len(os.listdir(result_dir))):
    df = pd.read_parquet(f"{result_dir}/result{i}.parquet")
    final_ans.append(df)
final_ans = pd.concat(final_ans)
final_ans = final_ans[['occupation', 'job description']].drop_duplicates('job description')
final_ans.to_excel(f"{result_dir}.xlsx", index=None)
final_ans.to_parquet(f"{result_dir}.parquet", index=None)

In [28]:
final_ans = pd.merge(final_ans, task_topkoccupation, on=['job description']).sort_values(['sim', 'occupation'], ascending=[False, False])
topk = 100
final_ans[:topk].to_excel(f'results/{dataset_name}/seed{seed}_top{topk}.xlsx', index=None)
final_ans

,occupation,job description,origin_occupation,sim
6287,Quality Control Analysts,Quality and Process Innovator: Committed to au...,Staffing and Recruiting,0.816650
9435,Web Developers,Software Developer (Contract)DataAnnotation is...,Software Development,0.809685
2767,Project Management Specialists,"Experience managing operational systems, inclu...",IT Services and IT Consulting,0.809577
492,Project Management Specialists,Ability to think critically and decompose comp...,Medical Equipment Manufacturing,0.809026
7211,Data Warehousing Specialists,The SSE is a dedicated Sales professional comm...,IT Services and IT Consulting,0.807479
...,...,...,...,...
8460,Search Marketing Strategists,You Will BeSetting the company’s marketing vis...,Advertising Services,0.606823
3452,"Separating, Filtering, Clarifying, Precipitati...",Must be a US CitizenSummary:Maintains and impr...,Staffing and Recruiting,0.598141
8983,"Grinding, Lapping, Polishing, and Buffing Mach...","AWS, GCP, Azure)Excellent problem-solving skil...",Software Development,0.594796
4287,"Packers and Packagers, Hand","Since our inception in 2002, we are committed ...",Truck Transportation,0.591085
5192,Transportation Security Screeners,We are committed to equal employment opportuni...,Staffing and Recruiting,0.543165