In [1]:
import pandas as pd
df = pd.read_csv('task_art.csv', sep='\t')
df = df[['occupation', 'task']].sort_values(['occupation', 'task'])
df = df[(df['task'].apply(type)==type(''))]
df['task'] = df['task'].apply(lambda x: x.replace('.', '').replace('\n', ''))
df = df[df['task'].apply(len)> 0]
df = df.drop_duplicates('task')
df.to_csv('../data/en/task.csv', index=None, sep='\t')

In [1]:
import pandas as pd
df = pd.read_csv('task_art.csv', sep='\t')
df

,occupation,href,task
0,Accountants and Auditors,https://www.onetonline.org/link/summary/13-201...,Prepare detailed reports on audit findings.
1,Accountants and Auditors,https://www.onetonline.org/link/summary/13-201...,Report to management about asset utilization a...
2,Accountants and Auditors,https://www.onetonline.org/link/summary/13-201...,Collect and analyze data to detect deficient c...
3,Accountants and Auditors,https://www.onetonline.org/link/summary/13-201...,Inspect account books and accounting systems f...
4,Accountants and Auditors,https://www.onetonline.org/link/summary/13-201...,"Supervise auditing of establishments, and dete..."
...,...,...,...
18884,Zoologists and Wildlife Biologists,https://www.onetonline.org/link/summary/19-102...,Conduct literature reviews.
18885,Zoologists and Wildlife Biologists,https://www.onetonline.org/link/summary/19-102...,Organize and conduct experimental studies with...
18886,Zoologists and Wildlife Biologists,https://www.onetonline.org/link/summary/19-102...,Coordinate preventive programs to control the ...
18887,Zoologists and Wildlife Biologists,https://www.onetonline.org/link/summary/19-102...,Prepare collections of preserved specimens or ...
18888,Zoologists and Wildlife Biologists,https://www.onetonline.org/link/summary/19-102...,Collect and dissect animal specimens and exami...

In [2]:
import pandas as pd
occupation_art = pd.read_csv('All_Occupations.csv')
occupation_art

,Job Zone,Code,Occupation,Data-level
0,4.0,13-2011.00,Accountants and Auditors,Y
1,2.0,27-2011.00,Actors,Y
2,4.0,15-2011.00,Actuaries,Y
3,5.0,29-1291.00,Acupuncturists,Y
4,3.0,29-1141.01,Acute Care Nurses,Y
...,...,...,...,...
1011,NaN,51-7099.00,"Woodworkers, All Other",NaN
1012,2.0,51-7042.00,"Woodworking Machine Setters, Operators, and Te...",Y
1013,2.0,43-9022.00,Word Processors and Typists,Y
1014,4.0,27-3043.00,Writers and Authors,Y
1015,4.0,19-1023.00,Zoologists and Wildlife Biologists,Y