In [18]:
import pandas as pd
metric_results = {}
llm_type = 'gpt'
for dataset_name in ['en', 'eu', 'jp']:
    metric_results[dataset_name] = {}
    for seed in range(1):
        ans = []
        for turn in range(8):
            df = pd.read_csv(f'results/{dataset_name}/{llm_type}/seed{seed}/result{turn}.csv') 
            ans.append(df)
        ans = pd.concat(ans)
        ans.columns = ['job_title', 'job_description', f'{llm_type}_task']
    gold = pd.read_csv(f'data/{dataset_name}.csv')[['job_title', 'job_description', 'task']]
    ans = pd.merge(gold, ans, on=['job_title', 'job_description'])
    ans[f'{llm_type}_task'] = ans[f'{llm_type}_task'].apply(eval)
    for k in [5, 10]:
        hits_10 = ans.apply(lambda x: x['task'] in x[f'{llm_type}_task'][:k], axis=1).sum() / len(ans)
        metric_results[dataset_name][f"hits@{k}"] = hits_10
pd.DataFrame(metric_results)

               en    eu        jp
hits@5   0.654135  0.44  0.203883
hits@10  0.684211  0.52  0.349515

In [7]:
import pandas as pd
metric_results = {}
for dataset_name in ['en', 'eu', 'jp']:
    metric_results[dataset_name] = {}
    gold = pd.read_csv(f'data/{dataset_name}.csv')
    gold['bert_task'] = gold['bert_task'].apply(eval)
    for k in [5, 10]:
        hits_10 = gold.apply(lambda x: x['task'] in x[f'bert_task'][:k], axis=1).sum() / len(gold)
        metric_results[dataset_name][f"hits@{k}"] = hits_10
pd.DataFrame(metric_results)

               en        eu        jp
hits@5   0.253731  0.138614  0.153846
hits@10  0.313433  0.217822  0.211538