In [3]:
import pandas as pd
df = pd.read_csv('raw_data/emed_careers_eu.csv')
df = df[['job_title', 'job_description']]
df.to_csv('job_description.csv', index=None, sep='\t')
df

,job_title,job_description
0,Senior / Medical Writer (Regulatory),"As part of our on-going growth, we are current..."
1,Manager of Biometrics,Manager of Biometrics – Italy\nAL Solutions ar...
2,Field Service Engineer | Chromatography,A fantastic opportunity has arisen for an expe...
3,Data Manager of Project Management,Job Details\n:\nUtilise extensive clinical dat...
4,Strategic Market Analyst,Hyper Recruitment Solutions are currently look...
...,...,...
39769,NaN,NaN
39770,NaN,NaN
39771,NaN,NaN
39772,NaN,NaN
39773,NaN,NaN