In [15]:
import pandas as pd
step1_seg_seg = pd.read_excel('/data/chenxi/research/conference/TMIS/COTR/step9-label_choose/outputs/step1/key_extraction.xlsx')
step1_ori_seg = pd.read_excel('/data/chenxi/research/conference/TMIS/COTR/step9-label_choose/outputs/step1/key_extraction_fromjd.xlsx')
step2_ori_jd = pd.read_excel('/data/chenxi/research/conference/TMIS/COTR/step9-label_choose/outputs/step2/key_extraction_jd_ori.xlsx')
step2_seg_jd = pd.read_excel('/data/chenxi/research/conference/TMIS/COTR/step9-label_choose/outputs/step2/key_extraction_jd_seg.xlsx')

In [31]:
df = pd.concat([step1_seg_seg, step1_ori_seg, step2_ori_jd, step2_seg_jd])
df = df[~df['job_description'].isna()]
df = df.sample(3478)

In [48]:
df['job_title'].nunique()

3041

In [32]:
rule = "|".join(df['job_description'].tolist())
rule = rf"{rule}"

In [27]:
origin_df = pd.read_csv('/data/chenxi/research/conference/TMIS/COTR/data/en/job_description.csv', sep='\t')
origin_df

,job_title,job_description
0,Marketing Coordinator,Job descriptionA leading real estate firm in N...
1,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ..."
2,Assitant Restaurant Manager,The National Exemplar is accepting application...
3,Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...
4,Service Technician,Looking for HVAC service tech with experience ...
...,...,...
107822,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...
107823,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...
107824,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...
107825,Business Development Manager,The Business Development Manager is a 'hunter'...
107826,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...

In [47]:
from tqdm import tqdm
import re
tqdm.pandas()
jd_list = df['job_description'].tolist()
sub_df = origin_df[:]
sub_df['isin'] = sub_df['job_description'].progress_apply(lambda x: [y for y in jd_list if y in x])
sub_df = sub_df[sub_df['isin'].apply(len)!=0]
print(len(sub_df))

100%|██████████| 107827/107827 [09:25<00:00, 190.84it/s]

2052

/tmp/ipykernel_3338276/3444883341.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['isin'] = sub_df['job_description'].progress_apply(lambda x: [y for y in jd_list if y in x])

In [49]:
sub_df

,job_title,job_description,isin
1,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...","[At Aspen Therapy and Wellness , we are commit..."
85,"Validation Engineer, Labware LIMS","Validation Engineer, Labware LIMSFoster City, ...","[Validation Engineer, Labware LIMSFoster City,..."
105,Architect/Project Manager,"Company DescriptionASA Architects, P.A. is one...","[Company DescriptionASA Architects, P.A. is on..."
167,Brand Representative,Sales Manager – USA – Independent Representati...,[Sales Manager – USA – Independent Representat...
187,Maintenance Manager,"OverviewManage personnel, systems, and operati...","[OverviewManage personnel, systems, and operat..."
...,...,...,...
107492,Banking Associate - 49th & Madison,"Work Location:\n\nNew York, New York\n\nHours\...","[Work Location:\n\nNew York, New York\n\nHours..."
107524,Engineer/Engineering Technologist - Engineer S...,Job Posting End Date\n\n04-30-2024\n\nPlease n...,[Job Posting End Date\n\n04-30-2024\n\nPlease ...
107547,Quality Assurance Manager - GMP,You will be a proactive partner with the exter...,[You will be a proactive partner with the exte...
107667,Unit Secretary - Emergency Department,"Job Description Summary\n\nGreets patients, vi...","[Job Description Summary\n\nGreets patients, v..."
107688,iOS Developer,VW. Two letters. Endless opportunities. A brig...,[VW. Two letters. Endless opportunities. A bri...

In [51]:
sub_df['job_title'].nunique()

1907